<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RestSharp" version="105.1.0" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.42" targetFramework="net451" />
  <package id="ServiceStack.Api.Swagger" version="4.0.42" targetFramework="net451" />
  <package id="ServiceStack.Client" version="4.0.42" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.42" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.42" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.42" targetFramework="net451" />
  <package id="SettingsProviderNet" version="2.1.1" targetFramework="net451" />
</packages>